services:
  kali-linux:
    labels:
      - traefik.enable: "true"
      - traefik.http.routers.kali.rule: Host(`${DOMAIN_HOST}`)
      - traefik.http.routers.kali.entrypoints: websecure
      - traefik.http.routers.kali.tls.certresolver: letsencrypt
      - traefik.http.services.kali.loadbalancer.server.port: 3000
      - traefik.http.routers.kali.middlewares: ip-allowlist@file

networks:
  default:
    external: true
    name: proxy